<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="vue.2.5.11.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Hello Vue.js</title>
</head>

<body>
    <div id="app">
        <h2>
            {{title}}
        </h2>
        <!-- <ul>
            <li v-for="user in users">
                {{user.username}}
            </li>
        </ul> -->
        <my-card>
            <h3 slot="cardheader">Blog JavaScript</h3>
            <div slot="cardbody">visitez meanjs.fr</div>
        </my-card>
        <hr>
        <user-list v-bind:data="users" v-bind:users-coming="usersWhoWillCome"></user-list>

        <div v-for="user in usersWhoWillCome">
            {{user.id}} - {{user.email}}
        </div>
    </div>

    <script>
        Vue.component('my-card', {
            template: '<div><slot name="cardheader">titre par défaut</slot><slot name="cardbody">contenu par défaut</slot></div>'
        })
        Vue.component('user-list', {
            template: '<div><ul><li v-for="user in data">{{user.username}}<user-details v-bind:usr="user" v-on:accept="registerUser(user)"></user-details></li></ul></div>',
            props: ['data', 'usersComing'],
            methods: {
                registerUser: function (user) {
                    this.usersComing.push(user)
                }
            }
        })

        Vue.component('user-details', {
            template: '<div>id: {{usr.id}}, ville: {{usr.address.city}}, email: {{usr.email}} <button v-on:click="acceptInvitation">Accepter</button></div>',
            props: ['usr'],
            methods: {
                acceptInvitation: function () {
                    this.$emit('accept')
                }
            }
        })


        var vm = new Vue({
            el: '#app',
            data: {
                title: 'Lifecycle hooks',
                usersUrl: "https://jsonplaceholder.typicode.com/users",
                users: [],
                usersWhoWillCome: []
            },
            beforeCreate: function () {
                console.log('beforeCreate')
            },
            created: function () {
                axios.get(this.usersUrl)
                    .then(function (response) {
                        vm.users = response.data
                    })
            }
        })
    </script>
</body>

</html>