<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="vue.2.5.11.js"></script>
    <title>Hello Vue.js</title>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        <form v-on:submit.prevent="addTask($event)">
            <input type="text" placeholder="taches à faire" v-model="task">
            <button type="submit">ajouter</button>
        </form>
        <ul>
            <li v-for="task in tasks">{{task}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: "Todo",
                task: "",
                tasks: []
            },
            methods: {
                addTask: function () {
                    this.tasks.push(this.task);
                    this.task = '';
                }
            }
        })
    </script>
</body>

</html>